.dvdrental-project-container {
  border-radius: 8px;

  .dvdrental-content-container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 8rem;
    color: unset;
  }

  .text-content {
    padding-inline: 1rem;
    margin-bottom: 1rem;
  }
  .text-content.sub-section {
    padding-inline: 2rem;
    margin-bottom: 2rem;
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  i {
    margin-top: 0.25rem;
  }

  .button-container {
    margin-top: 1.5rem;
  }
}

@media (min-width: 768px) {
  /* .dvdrental-project-container { */
  /*   padding-top: 4rem; */
  /* } */
}
