.prtc-project-container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.prtc-flow-container {
  & div.prtc-step-box {
    border: 1px solid;
    border-radius: 4px;
    padding: 8px;
  }

  & .prtc-step-arrow {
    flex-shrink: 0;
  }
}

@media (min-width: 768px) {
  .prtc-project-container {
    padding-top: 4rem;
  }
  .prtc-project-header-container {
    flex-direction: row;
  }
  .prtc-flow-container {
    flex-direction: row;
  }

  & .prtc-step-arrow {
    transform: rotate(-90deg);
  }
}

.prtc-project-container i {
  color: grey;
}

.prtc-tech-stack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
