.prtc-flow-container {
  & div.prtc-step-box {
    border: 1px solid;
    border-radius: 4px;
    padding: 8px;
  }

  & .prtc-step-arrow {
    flex-shrink: 0;
  }
}

@media (min-width: 768px) {
  .prtc-project-header-container {
    flex-direction: row;
  }
  .prtc-flow-container {
    flex-direction: row;
  }

  & .prtc-step-arrow {
    transform: rotate(-90deg);
  }
}

.prtc-project-content-container i {
  color: grey;
}

.prtc-tech-stack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
