.neon-button {
  --clr-border: var(--colorBorder);
  --clr-neon: var(--colorNeon, var(--clr-border));
  --clr-bg: var(--clr-dark-bg);
  --trans-time: 200ms;

  color: var(--clr-neon);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;

  padding: 0.25em 1em;
  border-radius: 0.25em;
  border: 0.125em solid var(--clr-border);

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0px 0px 0.5em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-border), 0 0 0.5em 0 var(--clr-border);

  transition: color var(--trans-time) linear,
    border-color var(--trans-time) linear;
}

.neon-button > :first-child {
  text-align: center;
}

.neon-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 120%;
  width: 100%;
  height: 100%;
  pointer-events: none;

  background-image: radial-gradient(
    ellipse,
    var(--clr-neon),
    var(--clr-border) 80%
  );
  filter: blur(0.5em);
  transform: perspective(1em) rotateX(30deg) scale(1, 0.5);
  opacity: 0.5;
  transition: opacity var(--trans-time) linear,
    transform var(--trans-time) linear;
}

.neon-button::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0 0 2em 0.3em var(--clr-border);
  opacity: 0;
  z-index: -1;
  background-color: var(--clr-border);
  transition: opacity var(--trans-time) linear;
}

.neon-button:hover {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:focus {
  text-decoration: underline;
}

.neon-button:hover::before {
  background-image: none;
  background-color: var(--clr-border);
  transform: perspective(1em) rotateX(30deg) scale(1.2, 0.7);
  opacity: 0.6;
}

.neon-button:hover::after {
  opacity: 1;
}

.neon-button:active {
  transform: scale(0.97);
}
