#root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  /* background-color: darkblue; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: darkcyan; */
}

footer {
  margin-top: 4rem;

  /* background-color: darkgreen; */
}

h1,
h2 {
  margin-inline: 1rem;
}

.image.primary {
  max-height: 300px;
}

.project-container {
  display: grid;
  gap: 1rem;
  align-items: center;
}

.project-desc {
  margin-inline: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 760px) {
  .image.primary {
    max-width: unset;
  }

  .project-container {
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;

    & .left {
      grid-row: 1;
      grid-column: 1;
    }
    & .right {
      grid-column: 2;
    }
  }
}

.small-text {
  font-size: 0.8rem;
}

.grey-text {
  color: grey;
}

.image {
  border-radius: 4px;
}

.mar-t-8 {
  margin-top: 0.5rem;
}
