#root {
  max-width: 1200px;
  margin: 0 auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: grey; */
}

footer {
  margin-top: 4rem;
  margin-bottom: 4px;
}

.image.primary {
  max-height: 300px;
}

.project-container {
  display: grid;
  gap: 1rem;
  align-items: center;
}

.project-desc {
  margin-inline: 1rem;
}

@media (min-width: 760px) {
  .project-container {
    grid-template-columns: 1fr 1fr;
  }

  .image.primary {
    max-width: unset;
  }
}

.small-text {
  font-size: 0.8rem;
}

.grey-text {
  color: grey;
}

.image {
  border-radius: 4px;
}

.mar-t-8 {
  margin-top: 0.5rem;
}
