:root {
  --clr-light-fg: #212527;
  --clr-light-bg: #ffffff;
  --clr-dark-fg: rgba(255, 255, 255, 0.87);
  --clr-dark-bg: #242424;

  --clr-fg: var(--clr-light-fg);
  --clr-bg: var(--clr-light-bg);

  /* Add secondary background and text colors */
  --clr-secondary-fg: #464646;
  --clr-secondary-bg: #f0f0f0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --clr-fg: var(--clr-dark-fg);
  --clr-bg: var(--clr-dark-bg);

  /* Update secondary colors for dark mode */
  --clr-secondary-bg: #1a1a1a;
  --clr-secondary-fg: #9e9e9e;

  color-scheme: dark;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  color: var(--clr-fg);
  background-color: var(--clr-bg);
}
